[Unit]
Description=Tempo service
After=network.target

[Service]
Type=simple
User=tempo
Group=tempo
ExecStart=/usr/bin/tempo -config.file {{ tempo_config_dir }}/config.yaml
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec = 120
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target
