[Unit]
Description=iptables rules
After=network.target

[Service]
Type=oneshot
ExecStart={{ iptables_conf_dir }}/apply-rules.sh
ExecStop=/sbin/iptables -F
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
